<table class ="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= link_to @user.name, user_path(current_user) %>
			</h1>
			<% if current_user?(@user) %>
			<h2 class="micropost">What would you like to share?</h2>
			<%= render 'shared/micropost_form' %>
			<% else %>
			<% end %>
	<% unless @user.microposts.empty? %>
	<table class="microposts" summary="User Posts">
	<%= render @microposts %>
	</table>
	<%= will_paginate @microposts %>
	<% end %>
	<% if @user.microposts.empty? %>
	<h3> Sorry, this user has no classifieds listed yet.</h3>
	<% end %>
	</td>
	<td class="sidebar round">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		<strong>Ads so far</strong> <%= @user.microposts.count %>
	</td>
  </tr>
</table>