<tr>
	<td class="micropost">
		<span class="content">
		<%= micropost.item %></br>
		<%= micropost.description %></br>
		<%= micropost.location %></br>
		<%= micropost.contact %>	
		</span>
		</td>
		<% if current_user?(micropost.user) %>
	<td>
		<%= link_to "delete", micropost, :method => :delete,
										 :confirm => "You sure?",
										 :title => micropost.item %>
	</td>
		<% end %>
	</tr>